<div class="footer-container">

  <div class="footer-links-container">
    <div class="footer-link">
      <img src="assets/icons/user.svg" alt="user-icon" class="footer-icon">
      <p>Szalai Simon</p>
    </div>

    <div class="footer-link">
      <img src="assets/icons/email.svg" alt="email-icon" class="footer-icon">
      <p>szalai.simon@gmail.com</p>
    </div>

    <div class="footer-link">
      <a href="https://www.linkedin.com/in/simon-szalai" rel="noopener noreferrer">
        <img src="assets/icons/linkedin.svg" alt="linkedin-icon" class="footer-icon">

        <p>linkedin.com/in/simon-szalai</p></a>
    </div>

  </div>

  <div class="footer-all-rights">
    <p>&copy; 2026 Flashcard App. All rights reserved.</p>
  </div>
</div>
